@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'PoppinsLight', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f7fa; // Ou la couleur de ton choix pour éviter le flash blanc
}

* {
  box-sizing: border-box; // Empêche le padding de rajouter de la largeur/hauteur
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  padding-top: 80px !important;
  margin: 0;
}

app-header-pokesyn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
  height: 80px; 
}