.header-pokesyn {
    margin: 0;
    padding: 0.5em;
    color: #FEFCE0;
    background-color: #3E70CD;
}

.header-pokesyn > h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}