<div class="header-pokesyn">
    <img src="images/pokesynergy.png" alt="PokéSynergy Logo" class="logo" routerLink="/pokedex">
    <img src="images/pokesynergytitle.png" alt="PokéSynergy Title" class="title" routerLink="/pokedex">

    <div class="right-actions">
        <a *ngIf="isLoggedIn()" routerLink="/profile" class="profile-link">
            <img src="images/pp-default.png" alt="Profil" class="profile-pic" routerLink="/login">
        </a>

        <a *ngIf="!isLoggedIn()" routerLink="/login" class="login-button">
            <img src="images/pp-default.png" alt="Profil" class="profile-pic" routerLink="/login">
        </a>

        <button class="burger-btn" (click)="toggleMenu()" [class.open]="isMenuOpen">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <nav class="nav-menu" [class.show]="isMenuOpen">
        <a href="#">Profil</a>
        <a href="#">Flux d'actualité</a>
        <a href="#">Équipes</a>
        <a href="#">Réglages</a>
    </nav>
</div>